# Data
fastf1==3.8.3
pandas==2.3.3
numpy==1.26.4

# Machine Learning
scikit-learn==1.7.2
xgboost==2.0.3

# Visualization
plotly==5.22.0
streamlit==1.35.0

# Backend
fastapi==0.111.0
uvicorn==0.30.1

# Notebook
jupyter==1.0.0
ipykernel==7.2.0

# Utilities
python-dotenv==1.0.1
loguru==0.7.2

# Database
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
alembic==1.13.1
